$themeColor: #0071BC;
$secondary: #FFF4DD;
$primaryTextColor: #363636;
$secondaryTextColor: #fff;
$gray: #696969;
$inputBorder: #d9d9d9;
$black: #000000;
$lightOrange: #308ed2;


$primary-color:#FFE5E5;
$secondaryBgColor:#F5F5F5;
$primaryBorderColor: #C8C8C8 ;

$footerTextColor: #fff;
$footerBGColor: #3c3d4a;
